@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

:root {
  --primeryWhite: #FFFFFF;
  --primeryBlack: #121417;
  --lightBlue: #3470FF;
  --darkBlue: #0B44CD;
  --animation-time: 250ms;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --boxShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --backgroundColorHeader: rgba(52, 112, 255, 0.3);
  --textShadow: rgb(0, 0, 0, 0.8) 2px 2px 4px;
  --colorLabel: #8a8a89;
  --colorBackgroundSelector: #f7f7fb;
  --colorBorderInput: 1px solid rgba(138, 138, 137, 0.20);
  --colorNotActivSelector: rgba(18, 20, 23, 0.2);
  --colorBorderDropdown: 1px solid rgba(18, 20, 23, 0.05);
  --colorShadowBorderDropdown: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  --colorDropdown: rgba(18, 20, 23, 0.2);
  --colorBackScroollDropdown: rgba(18, 20, 23, 0.05);
  --colorAddTextCarCart: rgba(18, 20, 23, 0.5);
  --colorBackgaundAddTextCarCart: rgba(18, 20, 23, 0.1);
  --colorWrapperLoader: rgba(18, 20, 23, 0.4)
}

main {
  flex-grow: 1;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}


input,
textarea,
select,
button {
  font: inherit;
}

ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

a  {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
